<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Danki</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/public/style.css">
    
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <h2> <a href="/"><span style='font-weight: lighter;'>Danki</span><b>News</b> </a> </h2>
            </div><!--logo-->
            <div class="form-busca">
                <form action="/">
                    <i class="fas fa-search"></i>
                    <input type="text" name="busca" placeholder="Busca..."/>
                </form>
            </div><!--form-busca-->
        </div><!--center-->
    </header> <!--header-->